@page
@model MegansMatineeX.Pages.Directors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.DirectorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.DirectorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.DirectorDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.DirectorDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.MovieDirectors)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Movie Title</th>
                    <th>Rank</th>
                </tr>
                @foreach (var item in Model.Director.MovieDirectors)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rank2)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Director.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
